.exercise-card {
    // background:rgb(200, 255, 200);
    position: relative;
    margin: auto;
    margin-top: 30px;
    top: 5%;
    display: block;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    width: 90%;
    padding: 10px;
    max-width: 400px;
    box-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, .5);
    font-size: 18px;
    cursor: move;
    background-color: white;
}

.schedule-box {
    position: relative;
    min-height: 80%;
    top: 10%;
    width: 40%;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 10px;
    background: rgba(255, 255, 255, .55);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .3);
}
/* 
.example-custom-placeholder {
    border: dotted 3px #999;
    padding: 400px;
    margin: 1.5% auto;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
} */

//
//  cdkDragBoundary=".schedule-box"
.schedule-list-items .cdk-drop-list-dragging .exercise-card:not(.cdk-drag-placeholder) {
    transition: transform 1000ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.15), 0 8px 10px 1px rgba(0, 0, 0, 0.15), 0 3px 14px 2px rgba(0, 0, 0, 0.15);
}


.cdk-drag-placeholder *{
    opacity: 0;
}

.cdk-drag-placeholder {
    border: dotted 2px rgba(0,0,0, .25);
    box-shadow: none;
}