<div cdkDropList cdkDragBoundary="schedule-list-items" class="schedule-list-items" cdkDropListLockAxis="y" (cdkDropListDropped)="drop($event)">
    <div cdkDrag class="exercise-card" cdkDragBoundary=".schedule-list-items" *ngFor="let exercise of exercisesList">
        <div *ngIf="exercise.getEditMode() === false; else elseBlock">
           <app-workout-view [exercise]="exercise"></app-workout-view>
        </div>
        <ng-template #elseBlock>
            <app-edit-view [exercise]="exercise"></app-edit-view>
        </ng-template>
    </div>
</div>
<app-add-view></app-add-view>
