<div cdkDropList class="exercise-list-items" cdkDropListLockAxis="y" (cdkDropListDropped)="drop($event)">
    <div cdkDrag class="exercise-card" cdkDragBoundary=".exercise-list-items" (cdkDragStarted)="dragStart($event)" *ngFor="let exercise of exercisesList">
        <div cdkDragHandle class="drag-bar"></div>
        <div *ngIf="exercise.getEditMode() === false; else elseBlock">
            <app-workout-view [exercise]="exercise"></app-workout-view>
        </div>
        <ng-template #elseBlock>
            <app-edit-view [exercise]="exercise"></app-edit-view>
        </ng-template>
    </div>
</div>
<app-add-view></app-add-view>
