.exercise-card-name h3 {
    margin: 0;
}

.timer {
    margin: auto;
    display: inline-block;
    font-size: 1.5em;
}

.timer h3 {
    margin: 0;
    display: inline-block;
    padding-left: 30px;
}

.complete-set {
    width: 100%;
    margin-top: 10px;
    min-height: 40px;
    height: 15%;
}

.right-input {
    display: block;
    min-height: 40px;
    font-size: 18px;
    width: 100%;
}

::ng-deep .p-button {
    margin-top: 10px;
}

.edit-button {
    float: right;
    margin: 0;
}

p-checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}
