.exercise-card-name h3 {
    margin: 0;
}

.general-input {
    display: block;
    min-height: 40px;
    font-size: 18px;
    width: 100%;
}

::ng-deep .p-button {
    margin-top: 10px;
}

.edit-button {
    float: right;
    margin: 0;
}

p-checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.pad {
    padding: 10px;
}

.set-container {
    border: 1px dodgerblue solid;
    border-radius: 4px;
    box-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, .5);
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}