<div class="pad">
    <header class="exercise-card-name">
        <h3 style='display: inline-block;'>Edit Mode</h3>
        <button class="edit-button p-button-success p-button-sm" pButton pRipple label="Save" type="button" (click)="saveData()"></button>
        <button class="edit-button p-button-danger p-button-sm" pButton pRipple label="Delete" type="button" (click)="onDelete()"></button>
        <button class="edit-button p-button-warning p-button-sm" pButton pRipple label="Cancel" type="button" (click)="this.exercise.toggleEditMode()"></button>
        <hr>
        <label for="Name" class="Name">Name: </label>
        <input class="right-input" name="name" [value]="this.exercise.getName()">
    </header>
    <hr>
    <label for="sets">Sets: </label>
    <input class="general-input" name="sets" type="number" pattern="[0-9]" min="0" [(ngModel)]="this.targetSets">
    <p-checkbox value="PLACEHOLDER" label="Customize Each Set"></p-checkbox>
    <p-checkbox value="PLACEHOLDER" label="Make Superset"></p-checkbox>
    <br>
    <label for="weightUsed">Weight: </label>
    <input class="general-input" name="weightUsed" type="number" pattern="[0-9]" min="0" [(ngModel)]="currentWeight">
    <p-checkbox value="PLACEHOLDER" label="Use Bodyweight"></p-checkbox>
    <br>
    <label for="reps">Reps for this set: </label>
    <input class="general-input" name="reps" type="number" pattern="[0-9]" min="0" [(ngModel)]="this.targetReps">
    <br>
    <label for="break-timer">Break timer (seconds):</label>
    <input class="general-input" name="break-timer" type="number" pattern="[0-9]" min="0" [(ngModel)]="this.breakTime">
    <p-checkbox value="PLACEHOLDER" label="Disable Break Timer"></p-checkbox>
</div>