<header class="exercise-card-name">
    <h3 style='display: inline-block;'>Edit Mode</h3>
    <button class="edit-button p-button-success" pButton pRipple label="Save" type="button"></button>
    <button class="edit-button p-button-danger" pButton pRipple label="Delete" type="button"></button>
    <button class="edit-button p-button-warning" pButton pRipple label="Cancel" type="button"></button>
    <hr>
    <label for="Name" class="Name">Name: </label>
    <input class="right-input" name="name" [value]="this.exercise.getName()">

</header>
<hr>
<div class="sets-reps-container">
    <label for="sets" class="sets">Sets: </label>
    <input class="right-input" name="sets" [value]='this.exercise.getCurrentSet()'>
    <p-checkbox value="This 1" label="Customize Each Set"></p-checkbox>

    <p-checkbox value="That 1" label="Make Superset"></p-checkbox>
    <br>
    <label for="weightUsed" class="weightUsed">Weight: </label>
    <input type="number" pattern="[0-9]" min="0" class="right-input" name="weightUsed" value="{{this.exercise.getWeightUsed()}}">
    <p-checkbox value="This 1" label="Use Bodyweight"></p-checkbox>
    <br>
    <label for="reps" class="reps">Reps for this set: </label>
    <input class="right-input" name="reps" [value]="this.exercise.getTargetReps()">
    <br>
    <label for="break-timer" style="display: inline-block;">Break timer (seconds):</label>
    <input class="right-input" name="break-timer" [(ngModel)]="this.exercise.breakTime">
    <p-checkbox value="This 1" label="Disable Break Timer"></p-checkbox>
    <!--  [value]="this.currentTime ? (this.currentTime | async) : this.exercise.getBreakTime() -->
</div>

<!--     <div class="timer">
      <label for="break-timer" style="display: inline-block;">Break Timer: {{this.currentTime ? (this.currentTime | async) : this.exercise.getBreakTime()}}</label>
      <h3></h3>
  </div> -->
