<div class="pad">
    <header class="exercise-card-name">
        <h3>{{this.exercise.getName()}}</h3>
        <button class="edit-button p-button-sm" pButton pRipple label="Edit" type="button" (click)="this.exercise.toggleEditMode()"></button>
    </header>
    <hr>
    <label for="sets">{{ 'Set: ' + this.exercise.getCurrentSet() + ' out of ' + this.exercise.getTargetSets()}}</label>
    <div name="sets" class="general-input">
        <button class="p-button-sm" pButton pRipple label="Add Set" type="button" icon="pi pi-plus" (click)="this.exercise.increaseTargetSets()"></button>
    </div>
    <br>
    <label for="weightUsed">Weight: </label>
    <input class="general-input" name="weightUsed" value="{{this.exercise.getWeightUsed()}}">
    <br>
    <label for="reps">Reps for this set: </label>
    <input class="general-input" name="reps" [value]="this.exercise.getTargetReps()">
    <br>
    <label for="break-timer">Break timer (seconds):</label>
    <input class="general-input" name="break-timer" [(ngModel)]="this.breakTime">
    <button pButton pRipple class="complete-set" [label]="this.timer ? 'Break time remaining: ' + (this.timer | async) : 'Complete Set'" [disabled]="this.completeSetDisabled" (click)="onCompleteSet()"></button>
</div>